@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');


 html{
    box-sizing: border-box;
    font-family:'Langar', cursive;;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-image: url("../img/background.jpeg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    

}

.container{
    width: 900px;
    max-width: 90%;
    background-color:rgb(111, 117, 117);
    padding: 10px;
    box-shadow: 5px 5px 5px 5px ;
    border-radius: 10px;
}
.question{
    text-align: center;
    margin: 30px 30px;
    font-size: 20px;
}

:root{
    --color-normal:205;
    --color-correct:112;
    --color-wrong: 356 ;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2 ,420px);
    gap: 12px;
    margin: 30px 10px;

}

.button{
    --hue: var(--color-normal);
    border: 1px solid hsl(var(--hue) , 90% , 20%);
    background-color: hsl(var(--hue) , 100% , 20%);
    padding: 10px 10px;
    color: white;
    border-radius: 10px;

}
.button:hover{
    border: 2px solid white;
}

.button.correct{
    --hue : var(--color-correct);
}

.button.wrong{
    --hue : var(--color-wrong);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}

.start-button{
    padding: 10px 50px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(44, 150, 236);
    border: 2px solid rgb(129, 127, 96);
}

.next-button{
    padding: 10px  50px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left:80px;
    border-radius: 10px;
    background-color: rgb(44, 150, 236);
    border: 2px solid rgb(129, 127, 96);
}

.start-button:hover , .next-button:hover{
    border: 2px solid white;

}

.hidden{
    display: none;
}